body {
    background-color: #1D1D1D;
    background-image: url("imgs/bg3.png") ;
    background-repeat: repeat-y;
    background-size: cover;
}

#navbar {
    color: #BFBEBE;
    font-family: sans-serif;
    /* width: 100%;
    height: 10%; */
    /* background-color: rgb(0, 0, 0); */
}

#navbar {
    display: inline-block;

}

#navigation>*>a {
    text-decoration: none;
}

.currentPage{
    font-weight: 900;
    /* color: #FFFFFF; */
}

#navigation>*>a:visited {
    color: #BFBEBE;
}

#navigation>*>a:hover {
    text-decoration: underline;
}
#navigation>*>a {
    color: #BFBEBE;
}

#navbar>* {
    display: inline-block;
    position: fixed;
    z-index: 99;
}

#navbar>hr {
    width: 99%;
    top: 48px;
}

#navigation {
    margin-left: 50px;
    position: fixed;
    top: 6px;
}

#navbar>*>p {
    display: inline-block;
    font-size: 25;
    padding-left: 20px;
}

#languages {
    position: fixed;
    padding: 25px 0;
    right: 40px;
    top: -4px;
}

#curve-shape {
    position: absolute;
    margin-left: -8px;
    bottom: -120px;
    width: 100%;

}

#headline {
    color: #FFFFFF;
    font-family: sans-serif;

    z-index: 9;
    position: absolute;

    bottom: 150px;
    left: 100px;
}

#headline>h1 {
    font-size: 60px;
    font-weight: 100;
    position: relative
}

#headline>h2 {
    font-size: 30px;
    position: relative;
    top: -30px;

    font-weight: 100;
}

#scroll-text {
    position: absolute;
    color: #FFFFFF;
    font-family: sans-serif;
    bottom: -40px;
    position: absolute;

    width: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

#main {

    color: #FFFFFF;
    font-family: sans-serif;


    position: absolute;
    text-align: left;
    top: 80px;
    left: 30px;


    /* left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center; */
}

#main>p,
#main {
    position: absolute;
    left: 80px;
}

/* #main > details > summary >meter{

    color: #1D1D1D;
    position: relative;
    left: 30px;
    width: 700px;
    top: 7px;
    height: 30px;
    
} */
/*---------------------------------------------- */
.meter_item {
    width: 100%;
}

.scale-wrapper {
    width: 75%;
    display: inline;
}

.scale-wrapper>meter {
    height: 30px;
}

.scale-orange>meter::-webkit-meter-optimum-value {
    background: rgb(218, 117, 2);
}

.scale-orange>meter::-moz-meter-bar {
    /* Firefox Pseudo Class */
    background: rgb(218, 117, 2);
}

.scale-green>meter::-webkit-meter-optimum-value {
    background: rgb(37, 35, 32);
}

.scale-green>meter::-moz-meter-bar {
    /* Firefox Pseudo Class */
    background: rgb(145, 138, 131);
}

.scale {
    display: table;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 2px 0px 10px 0px;
    border: 0px 0px 0px 0px;
    text-align: center;
}

.scale li {
    width: 10%;
    display: table-cell;
    white-space: nowrap;
    font-size: 0.8em;
    position: relative;
    top: -5px;
}

/*---------------------------------------------- */
#bg {
    width: 100%;
    height: 700px;
    background: #36AC5F;
    /* position: absolute; */


    position: absolute;
    margin-left: -8px;
    padding-right: 8px;
    top: 150px;
    /* margin: 0px; */
}

#faceimg{
    position: absolute;
    /* top: 150px; */
    top: 13%;
    left: 85%;
    height: 23%;
    /*add rounded corners: */
    border-radius: 50%;
    /* transform: translateX(-50%) translateY(-50%); */
    /* text-align: center; */
    border: 0.45vh solid #23683b;
}
/* #faceimgwrapper{
    content: "";
    width: 11px;
    background-color: #FFFFFF;
} */

#faceimg:hover{
    border: 0.45vh solid #FFFFFF;
    animation: change-imgborder 0.5s ease-in-out alternate;
}
@keyframes change-imgborder {
    0% {
        border: 0.45vh solid #23683b;
    }
    100% {
        border: 0.45vh solid #FFFFFF;
    }
    
}

#headline > h2::after{
    content: "";
    width: 20px;
    height: 3px;
    background-color: #FFFFFF;
    display: inline-block;
    margin-left: 4px;
    /* bottom: -10px; */
    /* left: 0; */
    animation: cursor-blink 1.25s steps(120) infinite;
}

@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
    20% {
        opacity: 1;
      }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


  #navbar::after{
    content: "";
    width: 100%;
    height: 60px; /* Todo: change*/
    background-color: #00000036;
    top: 0px;
    left: 0px;
    position: absolute;
    display: inline-block;
    /* bottom: -10px; */
    /* left: 0; */
  }