body {
  background-color: #1d1d1d;
  background-image: url("imgs/bg3-transformed.png");
  /* scale down */
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: cover;
}

#navbar {
  color: #bfbebe;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  z-index: 99;
  /* width: 100%;
    height: 10%; */
  /* background-color: rgb(0, 0, 0); */
}

#navbar {
  display: inline-block;
}

#navigation > * > a {
  text-decoration: none;
}

.currentPage {
  font-weight: 900;
  color: #ffffff;

  /* color: #FFFFFF; */
}

#navigation > * > a:visited {
  color: #bfbebe;
}

#navigation > * > a:hover {
  text-decoration: underline;
}
#navigation > * > a {
  color: #bfbebe;
}

#navbar > * {
  display: inline-block;
  position: fixed;
  z-index: 99;
}

#navbar > hr {
  width: 99%;
  top: 48px;
}

#navigation {
  margin-left: 50px;
  position: fixed;
  top: 6px;
}

#navbar > * > p {
  display: inline-block;
  font-size: 25;
  padding-left: 20px;
}

#languages {
  position: fixed;
  padding: 25px 0;
  right: 40px;
  top: -4px;
}

#curve-shape {
  position: absolute;
  /* margin-left: -8px; */
  bottom: -120px;
  width: 100%;
}

#headline {
  color: #ffffff;
  font-family: sans-serif;

  z-index: 9;
  position: absolute;

  bottom: 150px;
  left: 100px;
}

#headline > h1 {
  font-size: 60px;
  font-weight: 100;
  position: relative;
}

#headline > h2 {
  font-size: 30px;
  position: relative;
  top: -30px;

  font-weight: 100;
}

#scroll-text {
  position: absolute;
  color: #ffffff;
  font-family: sans-serif;
  bottom: -40px;
  position: absolute;

  z-index: 10;

  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  animation: bounce 1s infinite;
  animation-play-state: running;
}

#scroll-text:hover {
  animation-play-state: paused;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-7px);
  }
}

main {
  width: 100vw;
  height: 75vh;
  background-color: #36ac5f;
  margin: 0%;
  margin-top: 100vh;
  margin-bottom: 0px;
  /* position: absolute; */
  /* top: 110vh; */
  padding-top: 10vh;
  /* padding: 0px; */
  padding-bottom: 2vh;

  z-index: 10;
}

main > * {
  margin-left: 30px;
  color: #eeecec;
  font-family: sans-serif;
}

#main a {
  color: #ffffff;
  font-weight: 100;
  text-decoration: none;
  position: relative;
}

#main h1 {
  font-size: 3.5vh;
  /* font-weight: 100; */
  margin-top: 0px;
  margin-bottom: 5.5vh;

}



/* animated underline on hoover */
/* #main  a:hover {
    text-decoration: underline;
} */
#main a:hover::before {
  transform: scaleX(1);
}
#main a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
#main a:hover {
  color: #ffffff;
}
#main a:visited {
  color: #ffffff;
}

#main p {
    font-size: 2.1vh;
}

/* #main > details > summary >meter{

    color: #1D1D1D;
    position: relative;
    left: 30px;
    width: 700px;
    top: 7px;
    height: 30px;
    
} */
/*---------------------------------------------- */
.meter_item {
  width: 100%;
}

.scale-wrapper {
  /* width: 75%; */
  width: 75%;
  display: inline;
}

.scale-wrapper > meter {
  height: 30px;
}

.scale-orange > meter::-webkit-meter-optimum-value {
  background: rgb(218, 117, 2);
}

.scale-orange > meter::-moz-meter-bar {
  /* Firefox Pseudo Class */
  background: rgb(218, 117, 2);
}

.scale-green > meter::-webkit-meter-optimum-value {
  background: rgb(37, 35, 32);
}

.scale-green > meter::-moz-meter-bar {
  /* Firefox Pseudo Class */
  background: rgb(145, 138, 131);
}

.scale {
  display: table;
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin: 2px 0px 10px 0px;
  border: 0px 0px 0px 0px;
  text-align: center;
}

.scale li {
  width: 10%;
  display: table-cell;
  white-space: nowrap;
  font-size: 1em;
  position: relative;
  top: -5px;
}

/*---------------------------------------------- */
#bg {
  width: 100%;
  height: 700px;
  background: #36ac5f;
  /* position: absolute; */

  position: absolute;
  margin-left: -8px;
  padding-right: 8px;
  top: 150px;
  z-index: -10;

  /* margin: 0px; */
}

#faceimg-wrapper {
  max-height: 10vh;
  position: absolute;
  /* top: 150px; */
  /*make it stick to right */

  transition: max-height 0.9s linear;

  top: 10vh;
  right: 6vw;
}

#faceimg-wrapper:hover {
  max-height: 150%;
  background-color: white;
  /*animation: change-imgborder 0.3s ease-in-out alternate;*/
  /* animation:  max-height 5s ease-in-out alternate; */

  transition: max-height 0.9s linear;
  border-top-right-radius: 10vh;
  border-top-left-radius: 10vh;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  /* border-top-left-radius: 50%; */
}

#faceimg {
  position: relative;

  height: 20vh;

  border-radius: 50%;
  /* transform: translateX(-50%) translateY(-50%); */
  /* text-align: center; */
  border: 0.45vh solid #23683b;
}

#faceimg-info {
  margin-top: 1vh;

  position: relative;
  left: 10px;
  font-family: "Lato", sans-serif;
  word-wrap: break-word;
}
#faceimg-info > * {
  margin-top: 3px;
  margin-bottom: 3px;
}
/* #faceimgwrapper{
    content: "";
    width: 11px;
    background-color: #FFFFFF;
} */

#faceimg:hover {
  border: 0.45vh solid #ffffff;
  /* animation: change-imgborder 0.3s ease-in-out alternate; */
}
@keyframes change-imgborder {
  0% {
    border: 0.45vh solid #23683b;
  }
  100% {
    border: 0.45vh solid #ffffff;
  }
}

/* _ cursor after who am i text */
#headline > h2::after {
  content: "";
  width: 20px;
  height: 3px;
  background-color: #ffffff;
  display: inline-block;
  margin-left: 4px;
  /* bottom: -10px; */
  /* left: 0; */
  animation: cursor-blink 0.8s steps(120) infinite normal;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#navbar::after {
  content: "";
  width: 100%;
  height: 60px; /* Todo: change*/
  background-color: #00000052;
  top: 0px;
  left: 0px;
  position: fixed;
  display: inline-block;
  z-index: 98;
  /* bottom: -10px; */
  /* left: 0; */
}

#cat1 {
  /*make it stick to right*/
  float: right;
  display: none;
    position: absolute;
  margin-right: 6vw;
  margin-bottom: 18vh;
  
}

.xpand-langs {
  width: 55%;
  margin-bottom: 55px;
}
.xpand-langs > summary > span {
  font-size: 2.2vh;
}

.my-languages {
  /*snap to right */
}

footer {
  /* position: absolute; */
  margin-top: 0px;
  bottom: 0;
  width: 100vw;
  background-color: #319453;
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
 z-index: 99;
 
}
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.projects {
  display: flex;
  /* center */
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: -5vw;

  /* center */
   align-items: center;
}

.project {
  padding: 2.25vw;

}
  .project img {
    width: 100%;
    height: 14.5vh;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.project p {
  /* margin-top: ; */
  font-size: 1.5vh;
  text-align: center;
}

main  h2 {
  font-size: 2.5vh;
  margin-top: 4vh;
  margin-bottom: 5.5vh;
  margin-left: 1.5vw;
  /* center */
}